.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.order-container {
    background-color: rgb(255, 232, 180);
    padding: 20px 15px;
}