.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.order-container {
    background-color: rgb(255, 232, 180);
    padding: 20px 15px;
}

.pagination {
    margin-bottom: 100px;
    margin-left: 300px;
}

.pagination button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;

}

.pagination button:hover {
    background-color: orange;
    border: none;
    padding: 15px;
}

.pagination .current {
    background-color: orange;
    /* color: white; */
    padding: 15px;
    font-weight: bold;
    border: none;
}