.label {
    display: block;
    margin-bottom: 9px;
    margin-top: 9px;
    font-size: 18px;
}

.form-container {
    height: 600px;
    width: 488px;
    border: 2px solid rgb(168, 164, 164);
    margin: 60px auto;
    padding-left: 20px;
    border-radius: 8px;
}

.form-container input {
    height: 45px;
    width: 450px;
    font-size: 18px;
    /* border-radius: 3px; */
    /* border: none; */
}

.form-container p {
    text-align: center;
    font-size: 40px;
}

.form-container h4 {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}

.form-container small {
    text-align: center;
    color: rgb(231, 66, 66);
}

.btn-login {
    height: 50px;
    width: 458px;
    font-size: 18px;
    margin-top: 40px;
    background-color: rgb(255, 221, 141);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: rgb(255, 208, 99);
}

.google {
    color: rgb(38, 17, 173);
    height: 50px;
    width: 458px;
    font-size: 18px;
    margin-top: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid rgb(168, 164, 164);
}

.google:hover {
    background-color: rgb(145, 152, 253);
}